{% extends "base.html" %}
{% block content %}

<a href="/">Choose the Scriptures</a>
<h2 class="title">Select Books</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for i in author_list %}
      <div class="col" style="width:18rem;">
        <a href="/bofm/{{i[0]}}" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/bom/'+i[0]+'.jpeg') }}" class="img1" alt="{{i[0]}}.jpeg" >
                    <div class=" card-body card1">
                <h5 class="card-title">{{i[0]}}</h5>
                    </div>
            </div>
        </a>
    </div>
  {% endfor %}
</div>

{% endblock %}