<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book of Mormon</title>
</head>
<body>
<h2>{{author}}</h2>
<h2>max chapter is {{max}}</h2>
<h2>Specific link is {{link}}</h2>

<form method="POST">
  <label for="Chapter">Chapter</label>
  <input type="number" value= 'select' max = '{{max}}' min = '1' name = 'chapter'>
  <label for="varse"></label>
  <h4>from <input type="number" name="from" min ='1' name = 'from'>
   to <input type="number" name="to" min = '1' name = 'to'></h4>
  <input type="submit" value="create new">
</form>
  <h4>{{text}}</h4>
  <h4>{{text1}}</h4>
  <h4>{{text2}}</h4>

<h4><a href="/">Choose the Scriptures</a></h4>
</body>
</html>