<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collect Scripture</title>
</head>
<body>
<h1>Collect Scripture</h1>
<form method="post">
    <label for="Chapter">Chapter</label>
    <input type="number" value= 'select' max = '138' min = '1' placeholder="Please choose chpter number between 1 - 138">
    <label for="varse">Body</label>
    <input type="text" name="body">
    <input type="submit" value="create new">
</form>
</form>
</body>
</html>