{% extends "base.html" %}
{% block content %}

<h2 class="title">Select scriptures</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" style="width:18rem;">
        <a href="/ot" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/ot.jpeg') }}" class="img1" alt="Old.jpeg" >
                    <div class=" card-body card1">
                <h5 class="card-title">Old Testament</h5>
                <!-- <p class="card-text"><h6>Authorized King </h6></p> -->
                    </div>
            </div>
        </a>
    </div>

    <div class="col" style="width:18rem;">
        <a href="/nt" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/nt.jpeg') }}" class="img1" alt="Old.jpeg" >
                <div class=" card-body card1">
                    <h5 class="card-title">New Testament</h5>
                    <!-- <p class="card-text"><h6>Authorized King </h6></p> -->
                </div>
            </div>
        </a>
    </div>

    <div class="col" style="width:18rem;">
        <a href="/bofm" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/bom.jpeg') }}" class="img1" alt="Old.jpeg" >
                <div class=" card-body card1">
                    <h5 class="card-title">Book of Mormon</h5>
                    <!-- <p class="card-text"><h6>Another Testament of Jesus Christ</h6></p> -->
                </div>
            </div>
        </a>
    </div>

    <div class="col" style="width:18rem;">
        <a href="/dc" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/dc.jpeg') }}" class="img1" alt="Old.jpeg" >
                <div class=" card-body card1">
                    <h5 class="card-title">Doctrine and Covenants</h5>
                    <!-- <p class="card-text">CONTAINING REVELATIONS GIVEN TO JOSEPH SMITH, THE PROPHET
                    WITH SOME ADDITIONS BY HIS SUCCESSORS IN THE PRESIDENCY OF THE CHURCH</p> -->
                </div>
            </div>
        </a>
    </div>

    <div class="col" style="width:18rem;">
        <a href="/pgp" class="div1">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/pgm.jpeg') }}" class="img1" alt="Old.jpeg" >
                <div class=" card-body card1">
                    <h5 class="card-title">Pearl of Great Price</h5>
                    <!-- <p class="card-text">A SELECTION FROM THE REVELATIONS, TRANSLATIONS, AND NARRATIONS OF JOSEPH SMITH
                    FIRST PROPHET, SEER, AND REVELATOR TO THE CHURCH OF JESUS CHRIST OF LATTER-DAY SAINTS</p> -->
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}