<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collect Scripture</title>
</head>
<body>
<h1>Collect Scripture</h1>
<h2>Select a chupter</h2>
<h3>{{book}}</h3> <h3>{{author}}</h3>
<form method="POST">
  <label for="chapter">
    <input type="number" value= 'select' max = {{chapter_max}} min = '1' name = 'chapter'>
    <label for="varse"></label>

    <h4>from <input type="number" name="from" min ='1'>
     to <input type="number" name="to" min = '1'></h4>
  </label>
  <input type="submit" value="create new">
<a href="/">Choose the Scriptures</a>
</form>
</body>
</html>